*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#portfolio{
    background-color: #f5f5dc;
    color: white;
    font-size: 15px;
    padding-bottom: 50px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

#port-title{
    font-size: 119px;
    margin-left: 25px;
    float: left;
    color: #E8891D;
}

#O{
    color: #B35A20;
}

hr{
    border: none;
    border-bottom: 5px dashed #B35A20 ;
    padding-top: 60px;
    margin-bottom: 100px;
}

#wilayas{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#wilayas li{
    color: black;
    text-align: center;
    padding:20px;
    border-radius: 30px;
    z-index: 1;
    transition: transform .2s;
}

#wilayas li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.wilaya-img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    border: 3px solid white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0 ,0.6);
}

.name{
    font-size: 25px;
    font-weight: bolder;
}

#part_two{
    background-color: #fcf1b1;
    font-family: sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
}

.componants{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.componants li{
    text-align: center;
    padding:40px 80px;
    border-radius: 30px;
    color: black;
}

.componants li:hover{
    background-color: #e2d89e;
    cursor: pointer;
}

.icons{
    max-width: 150px;
    max-height: 150px;
}

.icon-name{
    font-size: 20px;
    font-weight: bolder;
}

.compo-href{
    text-decoration: none;
    color: white;
}


#tele-rest{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('restau.jpg') no-repeat center;
}

#tele-rest>li{
    background: rgba(0, 0, 0, 0.74);
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#tele-rest>a:hover{
    cursor: pointer;
}


#tele-rest>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#tele-rest>li:hover{
    transform: scale(1.1);
}

.restaurants{
    height: 200px;
    width: 300px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.514);
}

.parag{
    text-align: center;
}

.compo-title{
    text-align: center;
}

.contact-rest {
    list-style: none;
    text-align: center;
    max-width: 300px;
}

.contact-rest li{
    line-height: 30px;
    transition: transform .1s;
}

.contact-rest li:hover{
    transform: scale(1.1);
}

#tele-hotels{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hotels.jpg') no-repeat center;
}
#tele-hotels>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#tele-hotels>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#tele-hotels>li:hover{
    transform: scale(1.1);
}

.hotels{
    height: 200px;
    width: 300px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.514);
}

#tele-tourism{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('tour.jpg') no-repeat center;
}

#tele-tourism>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#tele-tourism>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#tele-tourism>li:hover{
    transform: scale(1.1);
}

.tourism{
    height: 200px;
    width: 300px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.514);
}

#tele-hos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hospit.jpg') no-repeat center;
}
#tele-hos>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#tele-hos>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#tele-hos>li:hover{
    transform: scale(1.1);
}

.hospital{
    height: 200px;
    width: 300px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.514);
}


#oran-rest{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('restau.jpg') no-repeat center;
}

#oran-rest>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#oran-rest>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#oran-rest>li:hover{
    transform: scale(1.1);
}

#oran-hotels{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hotels.jpg') no-repeat center;
}
#oran-hotels>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#oran-hotels>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#oran-hotels>li:hover{
    transform: scale(1.1);
}

#oran-tourism{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('tour.jpg') no-repeat center;
}
#oran-tourism>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#oran-tourism>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#oran-tourism>li:hover{
    transform: scale(1.1);
}

#oran-hos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hospit.jpg') no-repeat center;
}
#oran-hos>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#oran-hos>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#oran-hos>li:hover{
    transform: scale(1.1);
}



#alg-rest{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('restau.jpg') no-repeat center;
}

#alg-rest>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#alg-rest>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#alg-rest>li:hover{
    transform: scale(1.1);
}

#alg-hotels{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hotels.jpg') no-repeat center;
}
#alg-hotels>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#alg-hotels>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#alg-hotels>li:hover{
    transform: scale(1.1);
}

#alg-tourism{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('tour.jpg') no-repeat center;
}

#alg-tourism>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#alg-tourism>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#alg-tourism>li:hover{
    transform: scale(1.1);
}

#alg-hos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hospit.jpg') no-repeat center;
}
#alg-hos>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#alg-hos>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#alg-hos>li:hover{
    transform: scale(1.1);
}

/*constantine*/
#con-rest{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('restau.jpg') no-repeat center;
}

#con-rest>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#con-rest>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#con-rest>li:hover{
    transform: scale(1.1);
}

#con-hotels{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hotels.jpg') no-repeat center;
}

#con-hotels>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#con-hotels>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#con-hotels>li:hover{
    transform: scale(1.1);
}

#con-tourism{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('tour.jpg') no-repeat center;
}

#con-tourism>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#con-tourism>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#con-tourism>li:hover{
    transform: scale(1.1);
}

#con-hos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hospit.jpg') no-repeat center;
}

#con-hos>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#con-hos>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#con-hos>li:hover{
    transform: scale(1.1);
}

/*sahara*/
#sah-rest{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('restau.jpg') no-repeat center;
}

#sah-rest>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#sah-rest>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#sah-rest>li:hover{
    transform: scale(1.1);
}

#sah-hotels{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hotels.jpg') no-repeat center;
}
#sah-hotels>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#sah-hotels>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#sah-hotels>li:hover{
    transform: scale(1.1);
}

#sah-tourism{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('tour.jpg') no-repeat center;
}

#sah-tourism>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#sah-tourism>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#sah-tourism>li:hover{
    transform: scale(1.1);
}

#sah-hos{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    list-style: none;
    justify-content: center;
    background: url('hospit.jpg') no-repeat center;
}

#sah-hos>li{
    background: #000000be;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.452);
    transition: transform .1s;
    border-radius: 20px;
}


#sah-hos>li img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#sah-hos>li:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    #port-title{
        font-size: 80px;
    }

    hr{
        border: none;
        border-bottom: 2px dashed #B35A20 ;
        padding-top: 60px;
        margin-bottom: 100px;
    }

    .componants{
        display: block;
    }



}



